header{
    height:60px;
    background-color:#99CCFF;
    position:absolute;
    top:0px;
    left:0px;
    width:100%
}
.logo{
    padding-left:10px;
    float:left;
    font-size:25px;
    color:white;
    line-height:60px;
}
header ul{
    float:right;
    color:white;
}
header ul li{
    float:left;
    list-style:none;
    padding-right:10px;
    line-height:40px;
}
footer{
    width:100%;
    position:absolute;
    bottom:0;
    left:0px;
    color:white;
    background-color:#9999CC;
    text-align:center;
    height:50px;
    line-height:50px;
}
.p {
  width: 100px;
  height: 100px;
}
.class{
	color:white;
}